internal/statistics/keys/*
*/node_modules/*
internal/web/dist/assets/*
/bin/*
coverage/
__pycache__/
*.pyc
internal/statistics/keys/*
!internal/statistics/keys/.gitkeep
.env
.env.*
.DS_Store
Thumbs.db
*.swp
*.swo